    body {
      background-color: #0F0A20;
      background-image: url(https://sdmntprnorthcentralus.oaiusercontent.com/files/00000000-6840-622f-a613-a9ff1bc7c582/raw?se=2025-09-05T01%3A16%3A12Z&sp=r&sv=2024-08-04&sr=b&scid=0473bd01-0aa1-506b-8bf4-6fb5f846e348&skoid=60f2aa1f-3685-43ee-be37-d8c8d08d5a64&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-09-04T19%3A20%3A29Z&ske=2025-09-05T19%3A20%3A29Z&sks=b&skv=2024-08-04&sig=vm6QewVCnzGTBey74LXaCRCaRz8i3w305WsCZX551mk%3D);
      background-size: cover;
      background-repeat: no-repeat; 
      background-position: center; 
      min-height: 100vh;    
    }

   
    